.container-sheet {
    font-family: TormentMin, serif;
    font-size: 150%;
    min-width: 70vw;
    min-height: 80vh;
    border: 5px solid var(--papyrus-dark);
    border-radius: 10px;
    background-color: var(--papyrus);
}

.fields-sheet{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 10px 0;
    height: 100%;
    grid-gap: 10px;

    .text-fields-sheet{
        display: grid;
        grid-template-rows: 9fr;
        grid-gap: 10px;

        input {
            width: 100%;
            height: 30px;
        }
    }

    .int-fields-sheet{
        display: grid;
        grid-template-rows: 20% 20% 60%;
        grid-gap: 10px;


        input{
            height: 100%;
            text-align: center;
        }
    }

    .hp-mp-fields{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        font-size: 50px;

        input{
            width: 120px;
        }
    }

    .attributes{
        display: grid;
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: 70% 30% ;
        justify-items: center;

        input{
            height: 100%;
            width: 70px;
            font-size: 35px;
        }

        label{
            padding-top: 6px;
        }
    }

    input:focus{
        outline: none !important;
        border: 1px solid darkred;

    }

    input::selection{
        background-color: darkred;
        color: white;
    }

}