#root{
  width: 100vw;
  height: 100vh;
}

#body{
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Torment";   /*Can be any text*/
  src: local("Tormenta20x"),
  url("./font/Tormenta20x.ttf") format("truetype");
}

@font-face {
  font-family: "TormentMin";   /*Can be any text*/
  src: local("DanteMTStd-BoldItalic"),
  url("./font/DanteMTStd-BoldItalic.otf") format("truetype");
}

