.container-login {
    min-width: 25vw;

    font-family: TormentMin, serif;
    font-size:150%;
    border: 5px solid var(--papyrus-dark);
    border-radius: 10px;
    background-color: var(--papyrus);
    padding: 5% 0 10%;
}

.fields-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}