.background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.container {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--papyrus);
}

.button-x{
    float:  right;
}

.fields{
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 10px;

    input{
        width: 200px;
        height: 40px;
    }
}


button {
    width: 20px;
    height: 20px;
    background: url(src/assets/x.png) center;
    background-size: cover;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}